.first-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 30px;
}

.first-section>.left-section>h1 {
    background: -webkit-linear-gradient(135deg, #007ad9, #2aa4f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
}

.description {
    color: #8a8a8a;
    /* font-size: 20px; */
}

.stores {
    display: grid;
    gap: 10px;
}

.first-section>picture {
    justify-self: end;
    filter: drop-shadow(0 0 2em #0c254c);
}

@media (max-width: 425px) {
    .first-section {
        grid-template-columns: 1fr;
        gap: 50px;
        grid-template-rows: auto auto;
    }

    .first-section>.left-section>h1,
    .first-section>.left-section>h2 {
        text-align: center;
    }

    .stores {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .stores > {
        justify-self: start;
    }

    .stores > :first-child{
        justify-self: end;
    }

    .stores > :last-child {
        grid-column: 1/3;
        justify-self: center;
    }

    .first-section>picture {
        display: flex;
        justify-self: center;
    }

    .first-section>picture>img {
        max-width: 300px;
    }
}

@media (min-width: 426px) and (max-width: 633px) {
    .first-section {
        grid-template-columns: 1fr;
        gap: 50px;
        grid-template-rows: auto auto;
    }

    .first-section>.left-section>h1,
    .first-section>.left-section>h2 {
        text-align: center;
    }

    .stores {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .stores > {
        justify-self: start;
    }

    .stores > :first-child{
        justify-self: end;
    }

    .stores > :last-child {
        grid-column: 1/3;
        justify-self: center;
    }

    .first-section>picture {
        display: flex;
        justify-self: center;
    }

    .first-section>picture>img {
        max-width: 380px;
    }

}

@media (min-width: 634px) and (max-width: 820px) {
    .first-section {
        grid-template-columns: 1fr;
        gap: 50px;
        grid-template-rows: auto auto;
    }

    .first-section>.left-section>h1,
    .first-section>.left-section>h2 {
        text-align: center;
    }

    .stores {
        display: flex;
        justify-content: center;
    }

    .first-section>picture {
        display: flex;
        justify-self: center;
    }

    .first-section>picture>img {
        width: 450px;
    }
}

@media (min-width:821px) and (max-width: 1024px) {
    .first-section>picture>img {
        width: 400px;
    }
}

@media (min-width:1025px) and (max-width: 1600px) {
    
    .first-section>picture>img {
        width: 500px;
    }
}

@media (min-width: 1601px) {
    .stores {
        display: flex;
    }

    .first-section>picture>img {
        width: 600px;
    }
}