#google-play{
    height: var(--banner-button-store-height);
}

#google-play > .background{
    fill: var(--background-store-button);
}

#google-play > .color-font{
    fill: var(--font-store-button);
}